.gpt3__blog-heading h1{
    font-family: var(--font-family);
    letter-spacing: -0.04em;
}
@media screen and (max-width:1024px) {
    .gpt3__blog-container_groupA .gpt3__blog-container_artical{
        width: 48%;
    }
    .gpt3__blog-container_groupA .gpt3__blog-container_artical-image{
        height: 250px;
    }
    .gpt3__blog-container{
        flex-direction: column-reverse !important;
    }
    .gpt3__blog-container_groupA{
        margin: 2rem 0 !important;
    }
}
@media screen and (max-width:768px) {
    .gpt3__blog-container_groupA .gpt3__blog-container_artical{
        width: 100%;
    }
}