.gpt__header-content h1{
    font-family: var(--font-family);
    letter-spacing: -0.04em;
}
.gpt__header-content p{
    font-family: var(--font-family);
}
.gpt3__header-content__input input{
    font-family: var(--font-family);
    border: 2px solid var(--color-footer);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.gpt3__header-content__input input button{
    font-family: var(--font-family);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width:490px) {

    .gpt3__header h1{
        font-size: 16px;
        line-height: 24px;
    }

    .gpt3__header p{
        font-size: 14px;
        line-height: 24px;
    }
    .gpt3__header-content__input input,
    .gpt3__header-content__input button{
        font-size: 12px;
        line-height: 16px;
    }
}
@media screen and (max-width:1050px) {
    .gpt3__header{
        flex-direction: column !important;
    }
}